.main{
    display: block;
}
.second{
    display: inline;
    border-radius: 3px;
    margin-top: 3px;
    width: 30%;
    padding: 5px;
}
h1{
    text-align: right;
    border: 2px solid black;
    margin-right: 5px;
    padding-right: 5px;
}
.arabic {
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: right;
  }
  .radio-group {
    display: flex;
    align-items: center;
    gap: 8px; /* spacing between radio and label */
    margin-bottom: 10px;
  }
.login{
    display: block;
    margin: auto;
    width: 50%;
    padding: 8px;
    background-color: rgb(40, 40, 255);
    cursor:pointer;
    border: none;
    color: white;
    margin-top: 100px;
    border-radius: 3px;
}
body{
    background-color: rgba(150, 200, 240, 0.605);
}