body {
    text-align: right;
    background-color:rgb(150, 200, 240);
}
h1 {
    color: rgb(200, 10, 10) ;
    text-align:center ;
    font-size: 40px;
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
    color:green;
    font-size: 30px;
    padding-right: 10px;
}
h3 {
    color: blueviolet;
    font-size: 30px;
    padding-top: 150px;
    padding-right: 10px;
}
ul {
    direction: rtl;
    list-style-position: inside;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
}
.img{
    float: left;
    height: 500px;
    width: 500px;    
    margin: auto;
    margin-left: 100px;
}
p{
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
    color: blueviolet;
}